

<script type="text/javascript">
    $(document).ready(function() {
        $(".selectmanager").select2();
    });
</script>

<%= form_tag addmanager_path do |f| %>

    Add Current System Managers to this Stucture
    <div class="field">

      <%= select_tag 'userrole_id', options_from_collection_for_select(@availablemanagers, :id, :user_id), include_blank: true, :class => "selectmanager" %>


    </div>



    <%= hidden_field_tag(:structure_id, @structure.id) %>
    <div class="actions">
      <%= submit_tag 'Submit', :class => "btn btn-small btn-primary" %>
    </div>
<% end %>

