


<%= form_tag addparticipant_path do %>

    <%= render 'people/addpeopletoobject' %>
    <%= hidden_field_tag(:meeting_id, @meeting.id) %>
    <div class="actions">
      <%= submit_tag 'Submit', :class => "btn btn-small btn-primary" %>
    </div>
<% end %>









