<style>
    div.entry {
        border: solid 1px #666;
        width: 300px;
        height: 30px;
    }
    .sname {
        color: darkgreen;
    }

</style>


<h2>Document Structure Meeting</h2>
<h2><span class="sname"><%= @structure.name %></h2>
<h3>Persons in Attendance</h3>

Total
<div class="entry">
&nbsp;





</div>

Male Attendees
<div class="entry">
  &nbsp;
</div>

Female Attendees
<div class="entry">
  &nbsp;
</div>
