


<div class="container">
  <p id="notice"><%= notice %></p>


  <h2>Meetings List</h2>
  <div class="pull-right">
    <%#= link_to 'New Meeting', new_meeting_path, :class => "btn btn-primary" %>
  </div>
  <%= render 'meetings_table' %>


</div>