<div class="container">



<br>


<div class="row">

  <div class="col-sm-12">

<div class="col-md-6">


  <h4>Contact us for assistance</h4>
  Email:  <%= mail_to 'operations@mldl-liberia.com', "operations@mldl-liberia.com", :class => "btn btn-default btn-success" %>

  <div class="panel panel-default">

    <div class="panel-heading">Distirbution of Issues</div>

    <div class="panel-body">


  <%= render partial: 'cartodbimbed' %>



</div>
    </div>



</div>

    <div class="col-md-6">
      <div class="panel panel-default">

        <div class="panel-heading">Latest Issue Activity</div>

        <div class="panel-body">







        </div>
    </div>


</div>






</div>

</div>






  <%#= form_tag uploadcsv_appissues_path, multipart: true do %>
      <%#= file_field_tag :file %>
      <%#= submit_tag "Import" %>
  <%# end %>
<br>
  <br>
  <br>
  <br>
  <br>
  <br>
    <%#= link_to 'Format Issues', appissues_path %>