<div class="container">



  <div class="row">
    <div class="col-12-sm">Start Here</div>
  </div>





  <div class="row">
    <div class="col-4-sm">Start Here</div>
    <div class="col-4-sm">Start Here</div>
    <div class="col-4-sm">Start Here</div>

  </div>




</div>