

<div class="content-wrapper widerbox">

  <div class="row">


    <div class="col-sm-12">
      <div class="panel panel-info">
        <div class="panel-heading">


        </div>
        <div class="panel-body">

          <div class="col-sm-3">


          <h3>User</h3>
            <p>Name: <%= @user.name if @user.name %></p>
            <p>Email: <%= @user.email if @user.email %></p>
          <p>Role: <%= @user.mldlrole_humanize %></p>






         </div>


    <div class="col-sm-3">
          <h4>Assigned to Structures</h4>
          <ul>
            <% @mystructures.each do |mgmt| %>
                <li><%= link_to mgmt.structure.name, mgmt.structure %></li>
            <% end %>
          </ul>
  </div>



          <div class="col-sm-3">

            <h4>Issue Action History</h4>





            <ul>
             Under development
            </ul>






          </div>








</div>
    </div>
