<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @structuretype.name %>
</p>

<%= link_to 'Edit', edit_structuretype_path(@structuretype) %> |
<%= link_to 'Back', structuretypes_path %>
