
<div class="container">
  <br>

  <div class="col-md-12">
    <div class="panel panel-default">

      <div class="panel-heading">Project Activity Nimba County</div>

      <div class="panel-body">


        <%= render 'countytable' %>


      </div>
    </div>
  </div>
  <div>