
<div class="container">
  <br>

  <div class="col-md-12">
    <div class="panel panel-info">

      <div class="panel-heading">Project Activity Lofa County -  Quarter: <%= @qtrname %> </div>

      <div class="panel-body">


<%= render 'countytable' %>


        </div>
      </div>
    </div>
  <div>