 /* This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "bootstrap-datepicker3";
 @import "zbootstrap";
 @import "chosen";
 @import "font-awesome";
 @import "simple-line-icons";
 @import "animate.min";
 @import "dataTables.bootstrap";
 @import "parsley";
 @import "index";
 @import "app";
/*
@import "classic";
 @import "classic.date";

@import "bootstrap-datetimepicker.min";
 @import "jquery.ui.datepicker";
 @import "bootstrap-datetimepicker.min";
 @import "jquery.dataTables";
 @import "dataTables.jqueryui";
 @import "froala_editor.min";
 @import "froala_style.min";*/



.ar {  direction: rtl;   }
.fr { direction: ltr; }
.en { direction: ltr;
  font-family: 'Pontano Sans', sans-serif;}

.topnavbar {
  background-image: linear-gradient(to right, #666666 0%, #999999 100%);
  }

 .layout-h .wrapper > section {
   max-width: 95%;
   margin-left: auto;
   margin-right: auto;
   background-color: #f5f7fa;
 }

 .container {
   width: 99%
 }

.navbar-default {
  background-color: teal;
  font-size: 20px;

}
.navbar-default .navbar-nav > li > a {
  color: #fff;
}



 .statusbox  {
   background-color: #ffffff;
   border: 2px solid #cccccc;
   font-size: 16pt;
   font-weight: bold;
 }



 .tabstatusbox  {
   background-color: #ffffff;
   border: 2px solid #cccccc;
   font-size: 10pt;
   font-weight: bold;
 }

 .btn-ongoing {
   color: #BFC9CA;
  }
 .btn-resolved {
   color: #A93226;
      }
 .btn-mediation {
   color:#148F77;
       }
 .btn-cancelled {
   color: #EB984E;
      }
 .btn-new {
      color: #2E86C1;

 }
 .btn-agenda {

  color: #154360;


 }

 .container {

   background-color: #fffffff;


 }

 span.pageheader {
   font-size: large;
   font-weight: bold;
   color: darkgreen;

 }
 panel-heading {
   padding: 10px 15px;
   border-bottom: 1px solid transparent;
   border-top-right-radius: 3px;
   border-top-left-radius: 3px;
 }


 :hov


 .cls

 element.style {
 }
 .panel .panel-heading {
   border-bottom: 0;
   font-size: 14px;
 }
 .panel-info > .panel-heading {
   color: #fafafa;
   background-color: #9eadb5;
   border-color: #bce8f1;
 }
 td.rt {
   text-align:right;
 }